<div class="panel panel-default">
  <div class="panel-heading">
    <!-- <h3 class="panel-title"><%# @evaluator.name %><span style="float: right;"><%# feedback.created_at %></span></h3> -->
    <h3 class="panel-title"><%= @evaluator.name %><span style="float: right;" id="<%= feedback.id %>"></span></h3>
    <script type="text/javascript">
    var date = '<%= feedback.created_at %>';
    date = date.substring(0, date.length - 4),
    formattedDate = moment(date).fromNow();
    var dateSpan = document.getElementById('<%= feedback.id %>'),
    text = document.createTextNode(formattedDate);
    dateSpan.appendChild(text);
    </script>
  </div>
  <div class="panel-body">
    <%= feedback.content %>
  </div>
</div>
