<h2>Add a video to your profile by entering a YouTube link</h2>
<%= form_for :videos, :url => url_for(controller: '/videos', action: 'create'), :html => {:method => :post} do |f| %>
	<%= f.label :embedded_url %>
	<%= f.text_field :embedded_url %>
  <%= f.label :title %>
  <%= f.text_field :title %>
	<%= f.submit "Add" %>
<% end %>
