<!-- If/else conditional to show current_user versus video_id page -->
    <%= @video.title %> <br>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video.youtube_id %>" frameborder="0" allowfullscreen></iframe><br>
    <p><%= @video.teacher.subject + " | " + @video.teacher.grade_level %></p>



    <%= render 'rubric_form' %> <br>
    <%= render 'feedback_form' %>

