<!-- If/else conditional to show current_user versus video_id page -->
<div class="container">
  <%= @video.title %> <br>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video.youtube_id %>" frameborder="0" allowfullscreen></iframe><br>
  <p><%= @video.teacher.subject + " | " + @video.teacher.grade_level %></p>

  <% if @video.teacher == current_user %>
    <%= button_to "delete", { :controller => :videos,
                              :action => 'destroy'},
                              :method => :delete, :class => "btn btn-primary" %>
  <% end %>

<div class="space-maker" style="width: 100%; height: 50px;"></div>
    <%= render 'rubric_form' %> <br>


  <div>List one thing you notice and one thing you are wondering.</div>
  <%= form_for :feedback, :url => url_for(controller: '/feedbacks', action: 'create'), :html => {:method => :post} do |f| %>
  <p>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.hidden_field :teacher_id, value: current_user.id %>
    <%= f.hidden_field :video_id, value: @video.id %>
    <%= f.submit %>
  </p>
  <% end %>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <div class="col-md-6">
    <% @feedbacks.each do |feedback|  %>
      <% @evaluator = Teacher.find_by(id: feedback.teacher_id) %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <!-- <h3 class="panel-title"><%# @evaluator.name %><span style="float: right;"><%# feedback.created_at %></span></h3> -->
          <h3 class="panel-title"><%= @evaluator.name %><span style="float: right;" id="<%= feedback.id %>"></span></h3>
          <script type="text/javascript">
          var date = '<%= feedback.created_at %>';
              date = date.substring(0, date.length - 4),
              formattedDate = moment(date).fromNow();
          var dateSpan = document.getElementById('<%= feedback.id %>'),
              text = document.createTextNode(formattedDate);
              dateSpan.appendChild(text);
          </script>
        </div>
        <div class="panel-body">
          <%= feedback.content %>
        </div>
      </div>
    <% end %>
  </div>
</div>
