<% provide(:title, "Sign Up") %>
<div class="boxing">
    <br>
    <h1 class="loginfish">Register with Coral</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <%= form_for :teachers, :url => url_for(controller: '/teachers', action: 'create'), :html => {:method => :post} do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <br>

        <%= f.label :school_email %>
        <%= f.email_field :email, class: 'form-control' %>

        <br>

        <%= f.label :subject %>
        <%= f.text_field :subject, class: 'form-control' %>

        <br>

        <%= f.label :grade_level %>
        <%= f.text_field :grade_level, class: 'form-control' %>

        <br>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <br>

        <%= f.submit "Sign Up", class: "btn btn-primary" %>

        <% end %>
      </div>
    </div>
    <br>
</div>